body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@alias {
    bsz: border-size;
    bst: border-style;
    bcl: border-color;
}

.set_border {
    bsz: 1px;
    bst: solid;
    bcl: #ccc;
}


.menu {
    width: 100%;
    a {
        text-decoration: none;
    }
    &::before {
        content: '';
    }
}